<%- include("../partials/header.ejs") %>

<h2 class="mb-3">Ανακοινώσεις</h2>
        
    <div class="col-md-8">

      <% data.map((data)=>{ %>
        <article class="blog-post">
      <h4 class="display-7  mb-1"><%= data.title %></h4>
      <p class="blog-post-meta"><%= data.dateannounced %>, <%= data.timeannounced %></p>

      <p><%= data.textinput %></p>
      <hr>
    </article>
    <% }) %>

  </div>



<%- include("../partials/footer.ejs") %>